/* custom slides */
ul.disc li{
    list-style-type: disc;
    font-size: 26px;
}
#slide1 p {
  font-size: 35px;
}
li em {
    font-size:20px;
    margin-left:20px;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
.loading img{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         2s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}
.practice{
    width: 100%;
    position:absolute;
    display:none;
    font-size:150px;
    text-align: center;
    -webkit-transform: rotate(350deg);
    /*-webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;*/
}
.middle a{
    border:0;
}
a.browser-icon{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    background-size:64px;
    width:64px;
    height:64px;
}
a.browser-icon-hover{
    background-size:128px;
    width:128px;
    height:128px;
}
a.chrome-icon{
    background-image:url(../images/chrome_128.png);
}
a.firefox-icon{
    background-image:url(../images/firefox_128.png);
}
a.ie-icon{
    background-image:url(../images/ie_128.png);
}
a.opera-icon{
    background-image:url(../images/opera_128.png);
}
a.safari-icon{
    background-image:url(../images/safari_128.png);
}
#browser-desc{
    font-size: 150%;
    text-align: left;
    width: 90%;
    margin-left: 50px;
    line-height: 30px;
    position: absolute;
    left: 0px;
    top: 400px;
}
#idea_div{
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size:60px;
    margin-right: 70px;
    margin-top: -80px;
    -webkit-transform: rotate(15deg);
    /*-webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
*/
}
/*#slide2 .key {
  bottom: 2px;
}
#slide3 h1, #slide3 h2,
#slide4 h1, #slide4 h2,
#slide5 h1, #slide5 h2 {
  color: black;
}
#slide3 h1,
#slide4 h1,
#slide5 h1 {
  letter-spacing: -2px;
  font-size: 96px;
}
#slide3 h2,
#slide4 h2,
#slide5 h2 {
  margin-top: -5px;
  font-size: 40px;
  letter-spacing: -1px;
}*/